<h1>Answer</h1>
<% c = rand(10) + 1 %>
Your guess <%= params["g"] %>.
Computers number <%= c %>

<% 
	if c.to_s == params["g"]
		output = "you guessed right!"
	else
		output = "wrong. Try again"
	end
%>
<br>
<%= output %>