/** {
  border: 5px solid red;
  font-family: cursive;
}*/

#coinAnimation {
  position: absolute;
  display: block;
}
.box {
  border: 1px red;
  /*height: 50px;*/
  width: 100vw;
  height: 100px;
  background-color: yellow;
}
p {
  font-size: 3em;
  text-align: center;
  font-family: cursive;
}
.flipped {
  transform: scale(-1, 1);
}
