// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  border: 1px dotted pink;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

body {
  font-family: cursive;
}

th {
  font-family: cursive;
}
