body {
  font-size: 20px;
  max-width: 720px;
  margin: auto;
  margin-bottom: 300px;
}

blockquote {
  border-left: 5px solid black;
  padding-left: 1em;
}

cite::before {
  content: "\2013  ";
}
.box {
  width: 100px;
  height: 100px;
  background-color: pink;
  color: white;
  font-size: 40px;
  border: 2px dashed black;
}
.box .button {
  font-size: 15px;
  background-color: white;
  color: blue;
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.box1 {
  background-color: cyan;
}

/* position stuff */
.box {
  position: relative;
  display: inline-block;
}

.box .button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* show/hide stuff */
.box {
}

.box .button {
  display: none;
}
.box:hover .button {
  display: inline-block;
}

