<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <title>Hello movie app</title></title>
</head>


<body>
<div class="container">



<H1>
  Calling all Movie Buffs
</H1>

<div>
  <%= yield_content :search_box %>
</div>

<div>
    <%= yield %>
</div>

<div class="nav">
  <a href="/">Back</a>
</div>

<div class="images">
  <%= yield_content :images %>
</div>

<div class="message">
  <% if @message %>
  <p>
    <%= @message %>
  </p>
  <% else %>
  <p>
    &copy Copyright remains with original owners.
  </p>
  <p>
    Be good.
  </p>
  <% end %>
</div>

</div>

</body>
</html>
