<h2>Guess a number:</h2>
<a href="/answer?g=1">1</a>
<a href="/answer?g=2">2</a>
<a href="/answer?g=3">3</a>
<a href="/answer?g=4">4</a>
<a href="/answer?g=5">5</a>
<a href="/answer?g=6">6</a>
<a href="/answer?g=7">7</a>
<a href="/answer?g=8">8</a>
<a href="/answer?g=9">9</a>
<a href="/answer?g=10">10</a>

<h2>Rock Paper Scissors</h2>
<a href="/rps/r">Rock</a>
<a href="/rps/p">Paper</a>
<a href="/rps/s">Scissors</a>

<h2>Magic 8 Ball</h2>
Put "/magic/'your question'" in the address bar to have your question answered 