<h1>This is the Home Page</h1>

<ul>
  <li><%= link_to("Magic 8 Ball", games_magic_8_path) %></li>
  <li><%= link_to("Secret Number", games_secret_number_path) %></li>
  <li><%= link_to("Rock, Paper, Scissors", games_rock_paper_scissors_path) %></li>
</ul>

<!-- <p>
  What is going on here?
  <%= @routes.to_a %>
</p> -->