<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mixtape</title>
	<link rel="stylesheet" type="text/css" href="mixtape.css">
</head>
<body>
	<h1>Mixtape</h1>

	<div class="song-list">

		<div class="song">
		</div>

	</div>

	<script type="text/template" id="song-template">

		<div class="viewing">
			<%= name %> - <%= artist %>
			<!-- <button class="edit-song">Edit</button> -->
		</div>

		<div class="editing">
			<input type="text" class="name-input" placeholder="Name" value="<%= name %>"></input>
			<input type="text" class="artist-input" placeholder="Artist" value="<%= artist %>"></input>
			<button class="save-song">Save</button>
		</div>

	</script>
	
	<script src="jquery-2.1.4.min.js"></script>
	<script src="underscore-min.js"></script>
	<script src="backbone-min.js"></script>
	<script src="mixtape.js"></script>
</body>
</html>