
<center>
<h3>INDEX TO SHOPPING</h3>
<p><a href="/shop/list">Shopping List</a></p>
<p><a href="/shop/new">Add a new item</a></p>
<p><a href="/shop/edit">Edit an item</a></p>
<p><a href="/shop/delete">Delete an item</a></p>
</center>