<h3>New Item</h3>
<form action="/shop" method="POST">
	<input type="text" name="product_code" placeholder="code">
	<br>
	<input type="text" name="product_name" placeholder="name">
	<br>
	<input type="text" name="price" placeholder="Price">
	<br>
	<input type="text" name="expiry_date" placeholder="expiry">
	<br>
	<input type="Submit">
</form
