<h1>Books</h1>

<ul>
	<% @books.each do |record| %>
		<li class="book">
		<a href="/books/<%= record["id"] %>"><%= record["title"] %></a>
		</li>
	<% end %>
</ul>

<p>
	<a href="/books/new">Add a new book</a>
</p>