* {
	margin: 0em;
	padding: 0em;
	font-size: 100%;
	border-style: none;
	list-style-type: none;
}

body {
	font-family: "Times New Roman", serif;
}

#container {
	width: 960px;
	margin: auto;
	margin-top: 40px;
}

header {
	margin-bottom: 20px;
}

h1 {
	font-size: 16px;
	color: #5a5a5a;
}

h2 {
	font-size: 12px;
	color: #3f8bc3;
	font-weight: normal;
}

p {
	font-size: 12px;
	color: #787878;
}

p a {
	color: #3f8bc3;
	text-decoration: none;
}

p a:hover {
	color: #20222a;
}

#press {
	width: 960px;
	margin-left: 2px;
}

#press img{
	border: 4px #c5c5c5 solid;
	padding: 2px;
	margin-top: 15px;
}












