<% content_for :message do %>

  <%= @string %>
  <div class='row'>
      <ul class="buttons">
    		<li><a class="done btn-large btn-primary" href="/">Done</a></li>


      </ul>
    </div>
<% end %>
