<!DOCTYPE html>
<html>
<head>
  <title>YOU ARE LOGGED IN AS AN ADMIN</title>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-container">
YOU ARE LOGGED IN AS AN ADMIN

<%= yield %>
</div>

</body>
</html>
