<h1>New record</h1>
<form action="/martial_arts" method="POST">
  <input type="text" name="martial_art" placeholder="Name">
  <br>
  <input type="text" name="country_of_origin" placeholder="Country of origin">
  <br>
  <input type="text" name="style" placeholder="Style">
  <br>
  <input type="text" name="notes" placeholder="Notes">
  <br>
  <br>

  <input type="submit" value="Click here to add record!">
</form>