<div id="app">

	<h1>Secrets</h1>

	<form class="secret-form">
		<div class="field secret-content">
	  		<input type="text" placeholder="Your deepest darkest..."></input>
		</div>
		<div class="buttons">
	  		<input type="submit" value="Whisper"></input>
	  	</div>
	</form>

	<ul class="secrets">
	</ul>

</div>