<div id="app">

	<form class="secret-form">
		<div class="field secret-content">
	  		<input class="form-control" type="text" placeholder="Your deepest darkest secret..."></input>
		</div>
		<div class="buttons">
	  		<input class="btn btn-primary" type="submit" value="Whisper"></input>
	  	</div>
	</form>

	<ul class="secrets">
	</ul>

</div>
