<form action="/<%= @pizzas["id"] %>" method="POST">
	<input type="text" name="name" placeholder="Name" value="<%= @pizzas["name"] %>">
	<br>
	<input type="text" name="energy" placeholder="Energy" value="<%= @pizzas["energy"] %>">
	<br>
	<input type="text" name="range" placeholder="Range" value="<%= @pizzas["range"] %>">
	<br>
	<input type="submit">
</form>